@import "~@coreui/coreui/scss/coreui.scss";

@import '~@coreui/coreui/scss/_dropdown-menu-right.scss';


.padding-top-org {
  margin-top: 7%;
}

.padding-top-org-2 {
  margin-top: 5%;
}

.button-size-shift {
  height: 60px;
}

.leave-button-width {
  width: 140px;
}

.nav-bar-brand {
	float: left;
}