@import "~@coreui/coreui/scss/coreui.scss";

@import '~@coreui/coreui/scss/_dropdown-menu-right.scss';


.padding-top-org {
  margin-top: 7%;
}

.padding-top-org-2 {
  margin-top: 5%;
}

.button-size-shift {
  height: 120px;
  cursor: pointer;
}

.leave-button-width {
  width: 140px;
}

.nav-bar-brand {
	float: left;
}

.col-color {
	background-color: #95cce1;
	border: 1px aliceblue;
	border-radius: 100px;
	max-width: 30%;
	padding: 2% 0 2% 0;
	margin: 1%;
}

.row-align {
	justify-content: center;
}

.button-shift-edit {
	background-color: #9aeac5;
}

.button-shift-leave {
	background-color: #ff538a;
}
